.products-section__img {
  position: relative;
  margin-left: 42px;
  margin-top: 41px;
  margin-bottom: 22px;
  width: 50px;
  height: 53px;
}

.products-section__text {
text-align: center;
text-transform: uppercase;font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
margin-left: 39px;
}
