.application-form {
  font-family: $font-stack;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
  width: 226px;
  margin-top: 39px;
  margin-left: 20px;

  @include tablets {
    font-family: $font-stack;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    width: 323px;
    margin-left: 70px;
    padding-bottom: 23px;
  }

  @include desktop {
    margin-left: 123px;
  }
}

.application-form__item {
  font-family: $font-stack;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  margin-bottom: 15px;
}

.application-form__list {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 28px;
  margin-top: 42px;
  color: $special_dark-grey;

  @include tablets {
    font-family: $font-stack;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 32px;
    padding-left: 58px;
  }

  @include desktop {
    margin-left: 60px;
  }
}
