.button-catalog {
  width: 279px;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-family: Oswald;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  padding: 22px 107px;
  margin-left: 39px;
  border: 0px;
  margin-bottom: 30px;
  color: $white;
}

.button-catalog {
  width: 279px;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-family: Oswald;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  padding: 22px 35px;
  margin-left: 39px;
  border: 0px;
  background: $basic-grey;
  margin-top: 29px;
}

// .button-catalog {
//   width: 280px;
//   height: 40px;
//   background: #68b738;
//   display: flex;
//   align-items: center;
//   text-align: center;
//   text-transform: uppercase;
//   line-height: 20px;
//   padding: 14px 0;
//   cursor: pointer;
//   align-items: center;
//   padding: 22px 91px;
//   margin-left: 39px;
//   border: 0px;
//   margin-bottom: 30px;
// }
