
.button {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $white;
  text-transform: uppercase;
  display: block;
  background: $basic-green;
  line-height: 20px;
  cursor: pointer;
  padding: 8px 44px;
  border: 0;
  // transition: 0,35s;

  @include tablets {
    display: inline-block;
    padding: 22px 44px;
    font-size: 20px;
    line-height: 20px;
  }

  @include desktop {
    margin-top: 52px;
    margin-left: 197px;
    position: static;
    display: block;
    padding: 17px 27px;
  }
}
.button:hover {
  background: $basic_green-dark;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}
