
.button {
  font-family: $font-stack;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $white;
  text-transform: uppercase;
  display: block;
  background: $basic-green;
  line-height: 20px;
  cursor: pointer;
  padding: 8px 44px;
  border: 0;


  @include tablets {
    display: inline-block;
    padding: 22px 44px;
    font-size: 20px;
    line-height: 20px;
  }

  @include desktop {
    margin-top: 52px;
    margin-left: 197px;
    position: static;
    display: block;
    padding: 17px 27px;
  }
}
.button:hover {
  background: $basic_green-dark;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

// для формы
// width: 338px;
//     height: 40px;
//     display: flex;
//     align-items: center;
//     text-align: center;
//     text-transform: uppercase;
//     font-family: "Oswald", "Arial", "Helvetica", "Sans-serif";
//     font-size: 16px;
//     line-height: 20px;
//     cursor: pointer;
//     padding: 26px 107px;
//     margin-left: 13px;
//     border: 0px;
//     margin-bottom: 28px;
//     color: #FFFFFF;
//     background-color: #68B738;
//     margin-top: 53px;
//     margin-left: 16px;
