.button-catalog {
  width: 280px;
  height: 40px;
  background: #68b738;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  padding: 14px 0;
  cursor: pointer;
  align-items: center;
  padding: 22px 91px;
  margin-left: 39px;
  border: 0px;
  margin-bottom: 30px;
}

.button {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $white;
  text-transform: uppercase;
  display: block;
  background: #68b738;
  line-height: 20px;
  cursor: pointer;
  padding: 8px 44px;
  border: 0;

  @include tablets {
    display: inline-block;
    padding: 22px 44px;
    font-size: 20px;
    line-height: 20px;
  }

  @include desktop {
    margin-top: 52px;
    margin-left: 197px;
    position: static;
    display: block;
    padding: 17px 27px;
  }
}
