.catalog__product-item {
  padding-top: 27px;
  // padding-left: 20px;
}

.catalog__img {
  padding-left: 55px;
  padding-top: 18px;
}

.catalog-list__product-list-right {
  list-style-type: none;
}

.catalog-list__product-list-left {
  list-style-type: none;
}

