// .catalog {
//   @include tablets {
//     display: grid;
//   }
// }

.catalog__product-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  // padding-bottom: 23px;
  border-bottom: 1px solid $special-grey-light;
  padding-bottom: 4px;

  @include tablets {
    border-bottom: 0;
  }

  @include desktop {
    background-image: linear-gradient(0deg, #eaeaea 462px, #ffffff 20%);
    width: 245px;
    height: 511px;
    border-bottom: 0;
  }
}

.catalog__img {
  padding-left: 55px;
  padding-top: 18px;
}

.catalog__img-add {
  padding-left: 162px;
  margin-bottom: 20px;
  padding-top: 18px;
}

.catalog__product-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 53px;
}

.catalog-list__product-list-right {
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex: 1;
}

.catalog-list__product-list-left {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-main {
  @include tablets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 10px;
    align-items: flex-end;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
