.catalog__product-item {
  // justify-content: space-between;
  // display: flex;
  // justify-content: center;
  margin-top: 10px;
  padding-bottom: 23px;
  border-bottom: 1px solid $special-grey-light;
  padding-bottom: 4px;
}

.catalog__img {
  padding-left: 55px;
  padding-top: 18px;
}

.catalog__product-list {
  display: flex;
  margin-top: -105px;
  margin-bottom: 26px;
  margin-left: 161px;
}
.catalog-list__product-list-right {
  list-style-type: none;
}

.catalog-list__product-list-left {
  list-style-type: none;
}
