.choose-program {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.choose-program__description {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
}
