.collabaration {
  display: flex;

  @include tablets {
    display: flex;
    justify-content: space-between;
  }

  @include desktop {
    display: none;
  }
}

.collabaration-catalog {
  background-color: $basic-grey;
}

.collabaration__rigit-text {
  font-family: $font-stack;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
  width: 139px;
  height: 60px;
  margin-left: 20px;

  @include tablets {
    margin-left: 69px;
    margin-bottom: 56px;
  }
}

.collabaration__left-text {
  font-family: $font-stack-two;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;
  width: 139px;
  height: 60px;
  margin-right: 20px;

  @include tablets {
    margin-right: 70px;
    font-size: 16px;
    line-height: 20px;
  }
}

.collabaration-form {
  background-color: $basic-grey;
  padding-top: 26px;
  padding-bottom: 26px;
}
