.comment {
  display: grid;

  @include tablets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 70px;
    grid-template-rows: 1fr 1fr;
    margin-right: 133px;
    margin-top: 57px;
  }
}

.comment__title {
  font-family: $font-stack;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin-left: 20px;
  color: $black;

  @include tablets {
    font-size: 36px;
    line-height: 36px;
    padding-left: 69px;
  }
}

.comment__paragraph {
  font-family: $font-stack;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding-bottom: 88px;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;
  /* text-align: center; */
  margin-left: 19px;
  padding-left: 14px;
  padding-top: 19px;
  margin-top: 2px;
  margin-bottom: 8px;
  width: 313px;

  @include tablets {
    font-size: 20px;
    line-height: 30px;
    border-left: 1px solid $special_dark-grey;
    border-right: 1px solid $special_dark-grey;
    width: 631px;
    height: 32px;
    text-align: left;
    margin-left: 70px;
    margin-bottom: 65px;
    padding-bottom: 134px;
    padding-top: 10px;
    padding-left: 19px;
  }
}

// .comment-more {
//   font-family: $font-stack;
//   font-size: 16px;
//   line-height: 18px;
//   text-transform: uppercase;
//   color: $black;
//   margin-bottom: 19px;
//   margin-left: 20px;
//   padding-left: 15px;
//   opacity: 0;
//   cursor: pointer;
// }

// .comment-more::before {
//   content: "";
//   display: block;
//   width: 26px;
//   height: 26px;
//   border: 1px solid $special_grey;
//   background: $white;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: 1;
// }

// .comment-more::after {
//   content: "";
//   display: block;
//   width: 26px;
//   height: 26px;
//   background: url("./../../../img/form/tick_mobile.svg") no-repeat;
//   -webkit-background-size: cover;
//   background-size: 26px 26px;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: 2;
// }
.comment__checkbox-input {
  position: relative;
}

.comment__checkbox {
  // margin-right: 35px;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

// .comment__checkbox:checked + .comment-more::before {
//     // background-color: url("./../../../img/form/tick_mobile.svg"), 0.3 ;
// }

.comment__checkbox-input {
  display: grid;
  grid-template-rows: 191px 87px 52px;
  grid-template-columns: 1fr;
  margin-bottom: 32px;
}

.comment__paragraf {
  font-family: $font-stack-two;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: $black;
  margin-bottom: 0px;
  margin-top: 25px;
}
