.comment {
  display: grid;
  margin-left: 20px;
  margin-right: 20px;

  @include tablets {
    display: grid;
    padding-left: 55px;
    grid-template-rows: 55px 341px 1fr;
    margin-right: 133px;
  }
}

.comment__title {
  font-family: $font-stack;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin-left: 20px;
  color: $black;

  @include tablets {
    font-size: 36px;
    line-height: 36px;
    padding-left: 0px;
    margin-top: 0px;
    grid-column-start: 1;
    grid-column-end: 1;
  }
}

.comment__paragraph {
  width: 333px;
  height: 97px;
  font-family: $font-stack;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding-bottom: 88px;
  border: 1px solid#E7E7E7;
  margin-left: 19px;
  padding-left: 14px;
  padding-top: 19px;
  margin-top: 2px;
  margin-bottom: 8px;
  width: 313px;
  text-align: center;

  @include tablets {
    font-size: 20px;
    line-height: 30px;
    width: 631px;
    height: 32px;
    text-align: left;
    margin-left: 70px;
    margin-bottom: 65px;
    padding-bottom: 134px;
    padding-top: 10px;
    padding-left: 41px;
  }
}

.comment__paragraf {
  text-align: center;

  @include tablets {
    grid-row-start: 5;
    grid-column-end: 2;
  }
}

.comment__checkbox-input {
  position: relative;
  display: grid;
  // grid-template-rows: 191px 87px 52px;
  // grid-template-columns: 1fr;
  // margin-bottom: 32px;

  @include tablets {
    display: grid;
    grid-template-rows: 43px 110px 61px;
    grid-template-columns: 1fr;
    margin-bottom: 24px;
  }
}

.comment__checkbox-input {
  display: grid;
  grid-template-rows: 42px 110px 57px;
  grid-template-columns: 1fr;
  margin-bottom: 19px;
}

.comment__checkbox {
  // margin-right: 35px;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;

  @include tablets {
    display: grid;
    grid-template-rows: 43px 114px;
    grid-template-columns: 323px 282px;
    margin-bottom: 24px;
  }
}

// .comment-more {
//   font-family: $font-stack;
//   font-size: 16px;
//   line-height: 18px;
//   text-transform: uppercase;
//   color: $black;
//   margin-bottom: 19px;
//   margin-left: 20px;
//   padding-left: 15px;
//   opacity: 0;
//   cursor: pointer;
// }

// .comment-more::before {
//   content: "";
//   display: block;
//   width: 26px;
//   height: 26px;
//   border: 1px solid $special_grey;
//   background: $white;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: 1;
// }

// .comment-more::after {
//   content: "";
//   display: block;
//   width: 26px;
//   height: 26px;
//   background: url("./../../../img/form/tick_mobile.svg") no-repeat;
//   -webkit-background-size: cover;
//   background-size: 26px 26px;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: 2;
// }
