.desktop-link {
  @include desktop {
    font-size: 20px;
    line-height: 30px;
    color: $white;
  }
}

.desktop-link:active {
  @include desktop {
    border-bottom: 2px solid #ffffff;
    margin: 3px;
    color: $white;
  }
}

.desktop-link:hover {
  @include desktop {
    color: rgba($color: $white, $alpha: 6);
  }
}
.desktop-link:hover::before {
  @include desktop {
    color: rgba($color: $white, $alpha: 3);
  }
}
