.explanation-section {
  text-decoration: none;
}

.explanation {
  margin-top: 20px;

  @include tablets {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 93px 230px 230px;
  }
}

.explanation__header {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin-left: 41px;

  @include tablets {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 0px;
    margin-top: 45px;
  }
}

.explanation-section__img {
  @include tablets {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
    display: flex;
  }
}

.explanation-section {
  display: block;

  @include tablets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 291px 282px;
    // margin-bottom: 65px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 101px;
  }
}

.explanation-item {
  display: flex;

  @include tablets {
    margin-top: 72px;
    flex-direction: column;
  }
}

.explanation-description {
  display: flex;
  margin-left: 20px;
  width: 176px;
  height: 54px;
  margin-bottom: 20px;

  @include tablets {
    width: 176px;
    height: 54px;
    margin-bottom: 91px;
    margin-left: 0px;
  }
}
