.explanation-section {
  text-decoration: none;

  @include desktop {
    display: flex;
    counter-reset: number 0;
  }
}

.explanation {
  margin-top: 20px;

  @include tablets {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 93px 230px 230px;
  }
}

.explanation__header {
  font-family: $font-stack;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin-left: 41px;

  @include tablets {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 0px;
    margin-top: 45px;
  }

  @include desktop {
    margin-top: 29px;
    padding-left: 95px;
  }
}

.explanation-section__img {
  @include tablets {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
    display: flex;
  }

  @include desktop {
    margin-bottom: 0px;
  }
}

.explanation-section {
  display: block;

  @include tablets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 291px 282px;
    // margin-bottom: 65px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 101px;
  }

  @include desktop {
    display: flex;
    justify-content: space-around;
    border-bottom: 0px;
    padding-bottom: 0px;
    padding-right: 65px;
    margin-left: 35px;
  }
}

.explanation-item {
  display: flex;

  @include tablets {
    position: relative;
    margin-top: 72px;
    flex-direction: column;
    counter-increment: number;
  }
}

.explanation-item::before {
  content: counter(number);
  font-family: $font-stack;
  font-size: 280px;
  line-height: 280px;
  color: #f2f2f2;
  position: absolute;
  right: 244px;
  top: -30px;
  font-weight: normal;
  z-index: -1;

  @include tablets {
    right: 133px;
  }

  @include desktop {
    content: counter(number);
    font-family: $font-stack;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    position: absolute;
    left: 108px;
    top: -33px;
    font-weight: normal;
    z-index: -1;
  }
}
.explanation-description {
  display: flex;
  margin-left: 20px;
  width: 176px;
  height: 54px;
  margin-bottom: 20px;

  @include tablets {
    margin-bottom: 91px;
    margin-left: 0px;
    width: 245px;
  }

  @include desktop {
    width: 201px;
    height: 72px;
    margin-top: 31px;
    margin-bottom: 83px;
  }
}
