.explanation-section {
  text-decoration: none;
}

.explanation {
  margin-top: 20px;
}

.explanation__header {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin-left: 41px;
}

.explanation-section__img {
}

.explanation-section {
  display: block;
}

.explanation-item {
  display: flex;
}

.explanation-description {
  display: flex;
  margin-left: 20px;
  width: 176px;
  height: 54px;
  margin-bottom: 20px;
}
