.extra-product {
  margin-left: 20px;
  margin-right: 20px;
}

.extra-product__title {
  margin: 0px;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}

.extra-product__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0px;
}

.extra-product__link {
  font-family: $font-stack;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $grafit-grey;
  display: block;
}

.extra-product__desktop {
  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;

  }
}
