.footer {
  background-color: $basic-grey;

  @include tablets {
    display: flex;
    justify-content: stretch;
  }
}

.footer__socials {
  display: flex;
  text-decoration: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 40px;
  list-style-type: none;
  padding-left: 30px;

  @include tablets {
    padding: 41px 0;
  }
}

.footer__develop {
  display: flex;
  margin-left: 19px;
}
.footer-logo__hat {
  margin-left: 40px;
  padding-left: 100px;
  margin-bottom: 22px;

  @include tablets {
    padding-left: 19px;
    margin-bottom: 21px;
  }
}

.footer-logo {
  margin-bottom: 39px;
}

.footer__row {
display: block;

  @include tablets {
    display: flex;
  }


}
