.hero {
  text-align: center;
  position: relative;
  padding: 0 20px;

  @include tablets {
    padding-right: 0px;
    padding-left: 0px;
  }

  @include desktop {
    position: static;
  }
}

.hero::before {
  content: "";
  display: block;
  width: 100%;
  height: 302px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url("../img/background/full-back.jpeg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;

  @include tablets {
    background: none;
  }

  @include desktop {
    content: "";
    display: block;
    width: 53%;
    height: 696px;
    position: absolute;
    top: 0px;
    // right: 0px;
    right: 0;
    left: auto;
    background-image: url("../img/background/full-back_desktop.png");
    z-index: -1;
    background-size: cover;
  }
}

.header__top {
  list-style: none;
}
.header__logo {
  display: block;
  list-style: none;
  text-align: center;

  @include tablets {
    display: flex;
    padding: 0;
    margin: 0;
  }
}

.hero__title {
  list-style-type: none;
  font-family: $font-stack;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $white;
  text-align: center;
  padding-top: 27px;

  @include tablets {
    position: relative;
    background-color: $white;
    font-family: $font-stack;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    color: $black;
    text-align: left;
    margin-left: 96px;
    margin-bottom: 42px;
    width: 442px;
  }

  @include desktop {
    background-color: transparent;
    width: 443px;
    padding-left: 81px;
    padding-top: 38px;
    margin-bottom: 6px;
    margin-left: 116px;
    margin-top: 61px;
  }
}

.hero__subtitle {
  font-family: $font-stack;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin-top: 25px;
  text-align: center;
  text-transform: uppercase;

  @include tablets {
    font-family: $font-stack;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: $black;
    text-transform: uppercase;
    text-align: left;
    margin-left: 94px;
  }

  @include desktop {
    margin-bottom: 0px;
    padding-left: 104px;
    padding-top: 15px;
  }
}

.hero__img {
  margin-left: 0;
  margin-top: 29px;

  @include tablets {
    margin-top: 20px;
    width: 709px;
    height: 609px;
    margin-left: 0px;
  }

  @include desktop {
    width: 552px;
    height: 499px;
    margin-top: -261px;
    left: 41%;
    position: absolute;
  }
}

.hero__button {
  width: 100%;

  @include tablets {
    left: 0;
    width: auto;
    z-index: 2;
    margin-bottom: 0px;
    position: absolute;
    top: 273px;
    margin-left: 111px;
  }
}
