.hero {
  background-image: url("../img/background/full-back.jpeg");
  height: 302px;
}

.header__top {
  list-style: none;
}
.header__logo {
  display: block;
  list-style: none;
  text-align: center;
}

.hero__title{
  list-style-type: none;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $white;
  text-align: center;
  padding-top: 27px;

  @include tablets {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("");
  }
}

.hero__subtitle {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin-top: 25px;
  text-align: center;
  text-transform: uppercase;
}

.hero__img {
  margin-left: 40px;
  margin-top: 29px;
}

.hero__button {
  background: #68B738;
  width: 280px;
  height: 40px;
  line-height: 20px;
  padding: 14px 0;
  cursor: pointer;
  align-items: center;
  padding: 8px 44px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  margin-bottom: 20px;
}
