.main-nav {
  @include tablets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.main-nav__toggle {
  width: 20px;
  height: 20px;
  background-color: $white;
  background-image: url("../img/logo/button-closed_mobile.svg");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  position: absolute;
  right: 20px;
  top: 24px;

  @include tablets {
    display: none;
  }
}

.main-nav__toggle--closed {
  top: 50%;
  transform: translateY(-50%);
  background-image: url("/./source/img/logo/button-closed_mobile.svg");
}

.main-nav__list {
  text-align: center;
  text-decoration: none;
  color: $black;

  @include tablets {
    display: flex;
    margin-right: 15px;
    margin-top: 14px;
  }

  @include desktop {
    margin-top: 69px;
    margin-right: 110px;
  }
}
