.product-desc {
  text-decoration: none;
  padding-top: 25px;
  // border-bottom: 1px solid $special-grey-light;
  // border-top: 1px solid $special-grey-light;
  margin-right: 20px;

  @include tablets {
    width: 324px;
    min-height: 506px;
    background-image: linear-gradient(0deg, #eaeaea 437px, #ffffff 40%);
    padding-top: 0px;
  }
}

.product-desc:first-child {
  @include tablets {
    border-top: 0px;
  }
}
