.products-section {
  margin: 0px;
  padding: 0px;

  @include desktop {
    display: flex;
    justify-content: space-evenly;
  }
}
.products-section__img {
  position: relative;
  margin-left: 10px;
  margin-bottom: 22px;
  margin-top: -71px;
  grid-column: 1/1;
  grid-row: 1/1;
  padding-top: 14px;
}

.products-section__img :last-child {
  padding-right: 97px;
  margin-right: 148px;
  margin-left: 0px;
  margin-top: 26px;
}

.products-section__text {
  text-align: center;
  text-transform: uppercase;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  padding-right: 159px;
  padding-bottom: 12px;
  @include tablets {
    grid-column-start: 1;
    grid-row-start: 4;
    text-align: left;
    margin-left: 0px;
    padding-left: 24px;
  }
}

.products-section__text :last-child {
  margin-bottom: 0;
}

.products-section__item {
  background-image: url("../img/background/grey_back.svg");
  display: grid;
  padding-left: 20px;
  margin-bottom: 20px;
  padding-bottom: 22px;

  @include tablets {
    height: 372px;
    display: grid;
    grid-template-columns: 400px 1fr 1fr 1fr;
    grid-column: 3/2;
    grid-template-rows: 90px 180px 40px 50px;

  }

  @include desktop {
    margin-right: 80px;
    margin-left: 90px;

    grid-template-columns: 583px 1fr 1fr 1fr;
    grid-column: 3/2;
    grid-template-rows: 69px 181px 39px 50px;

  }
}

.products-section__img-arrow {
  margin-bottom: 0;
  margin-left: 17px;

  @include tablets {
    margin-left: 0px;
    margin-bottom: 0px;
    padding-left: 25px;
  }
}

.products-section__link {
  text-decoration: none;
  // margin-bottom: 20px;
  margin-bottom: 0px;
}

.products-section__img-line {
  margin-bottom: 18px;
}

.products-section__subtitle {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  display: grid;
  justify-content: center;
  grid-column: 1/1;
  grid-row: 1/ 2;

  @include tablets {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    display: block;
    margin-left: 25px;
    margin-bottom: 24px;
    margin-top: 40px;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }
}

.products-section__subtitle :last-child {
  margin-top: 34px;
}

.products-section__description {
  position: relative;
  margin-left: 8px;
  margin-bottom: 23px;
  font-family: Arial;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  width: 227px;
  height: 90px;
  color: $special_dark-grey;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 20px;

  @include tablets {
    margin-bottom: 0;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-left: 23px;
    color: $black;
    border-bottom: none;
    padding-bottom: 0px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 340px;
  }
}

.products-section__img {
  margin-top: 10px;

  @include tablets {
    width: 268px;
    height: 200px;
    object-fit: cover;
    object-position: bottom;
    margin-top: 78px;
    // margin-left: 387px;
  }
}
