.radio__fake {
  width: 24px;
  height: 24px;
  border: 1px solid #CDCDCD;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 16px;
}

.radio__input:checked+.radio__fake::before {
  content: "";
  border: var(--basic-grey-light);
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  background-size: contain;
  background: var(--basic-dark);
}

.radio__list {
  list-style: none;

}
