.radio__fake {
  width: 24px;
  height: 24px;
  border: 1px solid #cdcdcd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 16px;
}

.radio__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio__input + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.radio__input +label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.radio__input:checked + .radio__fake::before {
  content: "";
  border: var(--basic-grey-light);
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  background-size: contain;
  background: var(--basic-dark);
}

.radio__list {
  list-style: none;

  @include tablets {
    border: 1px solid #E7E7E7;
    border: 1px solid #E7E7E7;
    padding: 31px;
    width: 578px;
    height: 99px;
    margin-left: 21px;

  }
}
