.site-list {
  font-family: Oswald;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
  width: 100%;
  float: left;

}

.site-list__item {
  font-family: Oswald;
  list-style-type: none;
  font-style: normal;
  font-weight: bold;
  color: $black;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.site-list__link {
  position: relative;
  display: block;
  text-decoration: none;
  list-style: none;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  background-color: $white;
  border-bottom: 1px solid #e6e6e6;
}

