.site-list {
  font-family: Oswald;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  width: 1px;
  float: left;
  word-wrap: break-word;
}

.site-list__item {
  font-family: Oswald;
  list-style-type: none;
  font-style: normal;
  font-weight: bold;
  color: $basic-dark;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.site-list__link {
  text-decoration: none;
  list-style: none;
  font-family: Oswald;
  text-transform: uppercase;
  color: #000000;
}
