.social__button {
  text-decoration: none;
}

.social__button:hover {
  stroke: rgb(81, 255, 0);
  fill: rgb(9, 255, 0);
}
// color: rgba($color:$basic-green , $alpha: 1.0);

.social__button:active {
  stroke: rgb(60, 255, 0);
  fill: rgb(81, 255, 0);
}
// color: rgba($color: $basic-green, $alpha: 0.3);

.social__item {
  margin-left: 116px;
  margin-right: 36px;
  padding-right: 33px;
}

.social__item :first-child {
  margin: 0px;
}
.social__icon-cat {
  padding-left: 20px;
  margin-left: 98px;
  margin-top: 39px;

  @include tablets {
    padding-left: 0px;
    margin-left: 30px;
    margin: 0;
  }
}

.social__icon-cat:hover {
  color: rgba($color: #000000, $alpha: 0.8);
}

.social__icon-cat:active {
  color: rgba($color: #000000, $alpha: 0.6);
}
.social__icon {
  margin-right: 33px;
}
