.social__button {
  text-decoration: none;
}

.social__item {
  margin-left: 116px;
  margin-right: 36px;
  padding-right: 33px;
}

.social__item :first-child {
  margin: 0px;
}
.social__icon-cat {
  padding-left: 20px;
  margin-left: 98px;
  margin-top: 39px;

  @include tablets {
    padding-left: 0px;
    margin-left: 30px;
    margin-top: 63px;
    margin-bottom: 26px;
  }
}

.social__icon {
  margin-right: 33px;
}
