.text-inside {
  text-decoration: none;
}

.text-inside__clarify {
  font-family: $font-stack;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $grafit-grey;
  max-width: 76px;
  display: block;
}

.text-inside__clarify-add {
  font-family: $font-stack;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
  max-width: 76px;
  margin-left: 76px;
}

.text-inside__catalog-subtitle {
  margin: 0px;
  height: 41px;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}

.text-inside__catalog-comment {
  font-family: $font-stack-two;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
}

.text-inside__comment-add {
  font-family: $font-stack-two;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
  margin-top: 0px;
  margin-left: 68px;
}

.text-inside__title-add {
  font-family: $font-stack;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  padding-bottom: 16px;
}
